html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    font-family: 'Lato', sans-serif;
}

.header{
    background:  #FFFFFF;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.logo {
}
.logo__link {
}
.menu {

}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0 31px;
    
}
.menu__list-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    
}

.menu__item:hover{
    transform: scale(1.25);
    transition: all .5s;
}
.sign-in__box {
    display: flex;
    gap: 30px;
}
.sign-in__btn {
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    }
.start-trial__btn {
    padding: 13px 50px;
    background: #01996D;
    align-self: center;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.top-heading{
    position: relative;
    background-image: url(../images/heading-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}
.top-heading__inner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 440px;
    height: 384px;
    top: 30%;
}
.top-heading__title {
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
}
.top-heading__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
}
.content__btn {
width: 227px;
height: 65px;
background: #01996D;
border: 1px solid #01996D;
border-radius: 4px;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
}

.description__top {
    position: relative;
    display: flex;
    margin: 150px 0;
   
}
.description__top-title {
    width: 50%;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
}
.description__top-text {
    width: 40%;
    margin-left: 10%;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
}

.description__top span{
    position: absolute;
    top: -30px;
}

.description__inner {
    display: flex;
    justify-content: space-between;
}
.description__inner-item {
    position: relative;
    width: 390px;
    max-height: 937px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 250px;
}

.description__inner-item--2{
  
   margin-top: 200px;
}

.description__inner-num {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    color: rgba(1, 153, 109, 0.2); 
    padding-left: 2%;
}
.description__inner-title {
    position: absolute;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    top: 131px;
    left: 0;
    right: 0
}
.description__inner-text {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    height: 150px;
    margin: 35px 0 50px;
}
.description__inner-img {
    width: 390px;
    height: 492px;
    border-radius: 12px;
}

.story {
    display: flex;
    align-items: center;
    min-height: 922px;
    background-color: #245852;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.story__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.story__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 345px;
}
.story__content-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #FFFFFF;
}
.story__content-text {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #FFFFFF;
}
.story__content-btn {
    cursor: pointer;
    width: 240px;
    height: 65px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.story__content-video {
    position: relative;
    background-size: cover;
}
.story-bg__img {
    /* height: 516px;
    width: 895px; */
    width: 600px;
    border-radius: 17px;

}
.popup-btn {
    position: absolute;
    top: 9rem;
    right: 17rem;
    border: none;
    background-color: transparent;

}
.play-img {
    
    
}

.product__inner{
    min-height: 922px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.client__box{
    position: relative;
    width: 50%;
    background-image: url(../images/clientbg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(1, 153, 109, 0.2);
    border-radius: 18.1125px;
    width: 500px;
    height: 500px;
}

.client__card{
    position: absolute;
    width: 230px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 3.7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 320px;
    right: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.client__card-img{
    align-self: center;
    border-radius: 50%;
    width: 69px;
    height: 69px;
}

.client__card-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.client__card-text::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #000000;
    left: 64px;
    right: 64px;
    top: 58px
}
.client__card-name {
  
    font-weight: 400;
    font-size: 12px;
    line-height: 157%;
    text-align: center;
    color: #000000;
}
.client_card-title {
    text-align: center;
    font-family: 'Georgia',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 157%;
    color: #000000;
}
.client__card-list--item {
    font-weight: 400;
    font-size: 11px;
    line-height: 157%;
    margin-left: 68px;
    color: #000000;
}

.product__description {
  width: 50%;
}
.product-top__text {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #424242;
    margin-bottom: 20px;
    }
.product__description-title {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin-bottom: 20px;
}
.product__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-bottom: 45px;
}
.product__description-btn {
    width: 227px;
    height: 65px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer{
    min-height: 654px;
    background-color:#245852;
}
.footer-menu {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.footer__logo {
    width: 108px;
    height: 55px;
    margin-top: 95px;
}
.footer-menu__list {
    
}

.footer-menu__item{
    margin-top: 60px;

}

.footer-menu__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;

}

.footer-menu__item:hover{
    transform: scale(1.05);
    transition: all .5s;

}
